html {
  scroll-behavior: smooth;
  font-size: 10px;
  transition: 2s;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50em;
  margin: 0 auto;
  background-color: #191919;
  align-items: start;
  padding-inline: 5%;
}

.title {
  font-size: 2rem;
}

.slide {
    width: 70%;
    padding-bottom: 0;
    margin: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.seprator_item {
    color: aqua;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 0;

}

.accordion__title {
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

.bayan_check {
  height: auto;
  overflow: visible;
  transition: 0.5s

}


